<div class="container">
  <div id="footer">
  <div class="flexbox3" style="justify-content: space-around;">
    <div class="contact-info">
      <h1 style='text-align: center'>BOURDIEC 06</h1>
      <h4 style='text-align: center' ><%= t(:PCZ) %></h4>
      &nbsp;
      <h3><i class="fas fa-map-marker-alt" style="color: #8C1500"></i> 44 rue Longue 06500 Menton</h3>&nbsp;
      <h3><i class="fas fa-envelope-square" style="color: #8C1500"></i> contact@bourdiec06.com</h3> &nbsp;
      <h3><i class="fas fa-phone-square" style="color: #8C1500"></i> 04 93 37 10 19</h3> &nbsp;
      <h3><i class="fas fa-mobile-alt" style="color: #8C1500"></i> 06 14 60 91 04</h3> &nbsp;
    </div>
    <br>
    <div>
      <img class="staticmap" src="https://open.mapquestapi.com/staticmap/v4/getmap?key=qSNJARFIzJR62ZADr3Fvipeg7UmWUAK5&size=600,400&zoom=15&center=43.777859,7.506991&pois=poi-blue-s,43.777859,7.506991" alt="">
    </div>
  </div>
</div>
</div>

