<div class="container">
  <div id="footer">
  <div class="flexbox3" style="justify-content: space-around;">
    <div class="contact-info">
      <h2 style='text-align: center'>BOURDIEC 06</h2>
      <h5 style='text-align: center' ><%= t(:PCZ) %></h5>
      &nbsp;
      <h4><i class="fas fa-map-marker-alt" style="color: #8C1500"></i> 44 rue Longue 06500 Menton</h4>&nbsp;
      <h4><i class="fas fa-envelope-square" style="color: #8C1500"></i> contact@bourdiec06.com</h4> &nbsp;
      <h4><i class="fas fa-phone-square" style="color: #8C1500"></i> 04 93 37 10 19</h4> &nbsp;
      <h4><i class="fas fa-mobile-alt" style="color: #8C1500"></i> 06 14 60 91 04</h4> &nbsp;
    </div>
    <br>
    <div id="map" class="staticmap">

    </div>
  </div>
</div>
</div>

