<div id="footer">
  <h1 style="text-align: center;">CONTACTEZ - NOUS</h1>
  <div class="flexbox" style="justify-content: space-around;">
    <div class="contactinfos">
      <h3>44 rue Longue 06500 Menton&nbsp;<i class="fas fa-map-marked-alt" style="color: #8C1500;"></i></h3>
      <h3>04 93 37 10 19&nbsp;<i class="fas fa-phone-alt" style="color: #8C1500;"></i></h3>
      <h3>06 14 60 91 04&nbsp;<i class="fas fa-mobile-alt" style="color: #8C1500;font-size: 35px;"></i></h3>
      <h3>contact@bourdiec06.com&nbsp;<i class="fas fa-envelope-open-text" style="color: #8C1500;"></i></h3>
    </div>
    <br>
    <div>
      <img class="staticmap" src="https://open.mapquestapi.com/staticmap/v4/getmap?key=qSNJARFIzJR62ZADr3Fvipeg7UmWUAK5&size=600,400&zoom=15&center=43.777859,7.506991&pois=poi-blue-s,43.777859,7.506991" alt="">
    </div>
  </div>
</div>
